.search {
    z-index: 2;
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
}




.search-container form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;

}

.search-container form input {
    width: 100%;
    max-width: 100%;

}

.search-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    gap: 10px;
    top: -8px;
    width: 60%;
    margin: 10px;
    padding: 13px 23px;
    background-color: var(--color-white);
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    transition: all 0.3s ease;
    border: 1px solid #c4c4c4b0;
    
}

.search-container svg {
    margin-top: 1px;
    width: 20px;
    height: 20px;
    color: gray;
}

.search-container:focus-within {
    border-color: var(--color-medium-blue);
    box-shadow: 0px 0px 9px 0px var(--color-medium-blue);
}

.search-container:focus-within svg {
    fill: var(--color-medium-blue);
    color: var(--color-medium-blue);
}


.search-container input {
    border: none;
    outline: none;
    width: 100%;
    max-width: 400px;
    font-size: 16px;
}

@media only screen and (min-width: 48rem) {

    .search {
        top: -60px;
        margin: 30px auto 100px auto;
    }
    .search-container{
        width: 100%;
        max-width: 80%;
    }
}


/*responsive celular */
@media (max-width: 768px) {

    .search-container{
        width: 100%;
        max-width: 80%;
    }
    .search {
        width: 100%;
        max-width: 100%;
        top: 0px;
        margin: 20px auto 0px auto;
    }
}