/*Actividades Tendencias*/
.Netflix_Seccion {
    position: relative;
    width: 100%;
    max-width: 1500px;
    margin: 20px auto 30px auto;
    height: fit-content;
    padding: 3.5rem 3rem 1rem 3rem;
}


.top-Netflix_Seccion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--color-subtitulo);
}

.vermas {
    margin: 0px auto;
    margin-top: 0px;
    padding: 5px 20px;
    font-size: 1rem;
}

h2 {
    padding: 0px 0.5rem;
    font-size: 2.2rem;
    font-weight: 700;
    font-family: var(--font-poppins);
    color: var(--color-black);
    margin-bottom: 1rem;
}

.h2_trendi {
    text-align: center;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
}

.city {
    color: var(--color-medium-blue);
}

/* Actividades Cards */
.Actividades-Container {
    position: relative;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(368px, 1fr));
    grid-template-rows: 1fr; */

    display: flex;
    overflow-x: scroll;
    justify-items: center;
    gap: 14px;
    padding: 20px;
}

.Actividad-card-link {
    display: flex;
    justify-content: center;
    max-width: 368px;
    text-decoration: none;
    color: inherit;
}


.Actividad-card {
    position: relative;
    border-radius: 12px;
    max-width: 368px;
    min-width: 368px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    background: white;
    transition: transform 0.2s ease;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.container-bookmark {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 12px;
    border-radius: 100%;
    backdrop-filter: blur(10px);
    background: rgba(46, 44, 44, 0.2);
}

.bookmark {
    z-index: 2;
    color: var(--color-white);
}



.Actividad-card:hover {
    transform: translateY(-4px);
}

.Actividad-card img {
    min-height: 200px;
    max-height: 200px;
    width: 100%;
    max-width: 440px;
    height: 200px;
    object-fit: cover;
    border-radius: 28.5px 28.5px 0px 0px;
}



.card-categoria {
    position: absolute;
    top: 12px;
    left: 12px;
    color: var(--color-white);
    background-color: var(--color-medium-blue);

    padding: 4px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;

}

.card-calificacion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    position: absolute;
    bottom: 12px;
    left: 12px;
    color: var(--color-white);
    background-color: #fef4cc;
    color: #F59E0B;
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
}

.content-actividad h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

.content-actividad p {
    margin: 0;
    color: #666;

}


.content-actividad {
    padding: 15px 15px 17px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.verDetalles {
    background-color: var(--color-medium-blue);
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
}
.verDetalles p {

    color: #fff;
}



/*Paginacion*/
.anterior-paginacion {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: -10;
}

.despues-paginacion {
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    right: 10px;
}

.despues-paginacion svg {
    rotate: 180deg;

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .Netflix_Seccion {
        padding: 3.5rem 0rem 1rem 0rem;
    }

    .pagina-contador {
        margin: 0px auto;
        padding-left: 20px;
    }

    .h2_trendi {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {

    .Netflix_Seccion {
        padding: 3.5rem 0rem 1rem 0rem;
    }

    .Actividades-Container {
        padding: 25px;
    }

    .top-Netflix_Seccion {
        flex-direction: column;
        gap: 15px;
        padding: 0px 0px 40px 0px;
    }

    .Actividad-card-link {
        display: flex;
        justify-content: center;
        max-width: 408px;
        text-decoration: none;
        color: inherit;
    }


    .Actividad-card {
        position: relative;
        border-radius: 12px;
        max-width: 408px;
        min-width: 408px;
        overflow: hidden;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
        background: white;
        transition: transform 0.2s ease;
        padding: 0px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
    }
}

.badges {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    /* No hace salto entre badges */
    max-width: 368px;
    gap: 8px;
}

.badge {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;


    height: 30px;

    background-color: rgba(186, 184, 184, 0.294);

    color: var(--color-white-500);
    padding: 7px 14px;
    border-radius: 12px;
    font-size: 12.5px;
    font-weight: 800;

    /* 👉 Para cortar texto con "..." */
    white-space: nowrap;
    /* No saltar línea */
    overflow: hidden;
    /* Oculta lo que no cabe */

    /* Muestra "..." */
}

.card-footer {
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TotalPorPersona {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.precio {
    color: var(--color-medium-blue);
    font-size: 20px;
    font-weight: bold;
}

.TotalPorPersona p {
    font-size: 10px;
    color: #666;
}

.badge span {
    text-overflow: ellipsis;
}