

.question {
    margin-top: 20px;
    width: 100%;
}


.ctrl2 h3 {
    position: sticky;
    top: 20px;
    font-size: 35px;
    font-weight: 600;
    color: var(--color--black);
    font-family: var(--font-alexandria);
}


.ctrl2 h3 span {
    color: var(--color-medium-blue);
}


/*Preguntas Frecuentes*/
.preguntas_frecuentes {
    border-top: 3px solid #928b8b;
    width: 100%;
    height: fit-content;
    max-width: 1365px;
    margin: 0 auto;
    padding: 4.5rem 2.5rem 1.5rem 2.5rem;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.ctrl2 {
    display: flex;
    width: 100%;
    height: 100%;
    min-width: 400px;
    justify-content: flex-start;
    align-items: flex-start;
}





.container_preguntas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0rem 1rem 1.5rem 1rem;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.preguntas_card {
    display: flex;
    border-top: 1px solid #7E8679;
    padding: 20px 7px 10px 7px;
    justify-content: space-between;
    align-items: flex-start;
}

.preguntas_card_text {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 30px;
    overflow: hidden;
}


.preguntas_card_text h3 {
    font-weight: 600;
}

.preguntas_card_text p {
    color: #7E8679;
}

.btn_preguntas_card svg {
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
}

/* Hover state */
.preguntas_card_text:hover .btn_preguntas_card svg {
    transform: rotate(180deg);
}

.preguntas_card:hover {
    cursor: pointer;
}



.expanded {
    height: fit-content;
    overflow: visible;
    transition: height 0.3s ease-in-out;
}

/* Rotación del ícono */
.rotated {
    transform: rotate(180deg);
}

@media (max-width: 930px) {

    .preguntas_frecuentes{
        padding-top: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr
    }

    .ctrl2{
        width: 100%;
        justify-content: center;
        align-items: center;
        min-width: 0px;
        max-width: 100%;
        text-align: center;
        padding: 10px 0px;
    }

    
    .ctrl2 h3 {
        position: relative;
        top: 40px;
    }

    .preguntas_card_text{
        height: 50px;
    }

    .question{
        margin-bottom: 70px;
    }

}