<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <footer class=" text-white pt-24 pb-12">
        <div class="container mx-auto px-6">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12 mb-20">
                
                <div class="space-y-6">
                    <span class="text-4xl font-black tracking-tighter text-white mb-4">
                        eta<span class="text-sm align-top">®</span>
                    </span>
                    <p class="space-y-4 text-slate-100 font-medium leading-relaxed">
                        La plataforma líder para descubrir y gestionar experiencias únicas en el Caribe Colombiano.
                    </p>
                    <div class="flex gap-4">
                        <a href="https://www.instagram.com/eta_app/"
                            class="w-10 h-10 bg-slate-800 rounded-full flex items-center justify-center hover:bg-blue-200 transition-all">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
                                {...props}>
                                <path fill="currentColor"
                                    d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3">
                                </path>
                            </svg>
                        </a>
                        <a href="#"
                            class="w-10 h-10 bg-slate-800 rounded-full flex items-center justify-center hover:bg-blue-400 transition-all">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    {...props}>
                                    <path fill="currentColor"
                                        d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95">
                                    </path>
                                </svg>
                        </a>
                        <a href="https://www.tiktok.com/@eta_app"
                            class="w-10 h-10 bg-slate-800 rounded-full flex items-center justify-center hover:bg-blue-400 transition-all">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                    {...props}>
                                    <path fill="currentColor"
                                        d="M16.6 5.82s.51.5 0 0A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48">
                                    </path>
                                </svg>
                        </a>
                        <a href="https://x.com/Eta_App"
                            class="w-10 h-10 bg-slate-800 rounded-full flex items-center justify-center hover:bg-blue-400 transition-all">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
                                {...props}>
                                <path fill="currentColor"
                                    d="M10.488 14.651L15.25 21h7l-7.858-10.478L20.93 3h-2.65l-5.117 5.886L8.75 3h-7l7.51 10.015L2.32 21h2.65zM16.25 19L5.75 5h2l10.5 14z" />
                            </svg>
                        </a>
                    </div>
                </div>

                
                <div class="space-y-6">
                    <h4 class="text-xl font-bold">Explorar</h4>
                    <ul class="space-y-4 text-slate-100 font-medium">
                        <li><a href="Paises" class="hover:text-white transition-colors">Tendencias</a></li>
                        <li><a href="Paises" class="hover:text-white transition-colors">Actividades Populares</a>
                        </li>
                        <li><a href="#" class="hover:text-white transition-colors">Categorías</a></li>
                        <li><a href="#" class="hover:text-white transition-colors">Destinos Destacados</a></li>
                    </ul>
                </div>
                <div class="space-y-6">
                    <h4 class="text-xl font-bold">Colaboradores</h4>
                    <ul class="space-y-4 text-slate-100 font-medium">
                        <li><a href="/registro/colaborador" class="hover:text-white transition-colors">Registrate
                                como Guía</a></li>
                        <li><a href="/login?role=colaborador" class="hover:text-white transition-colors">Inicia
                                Sesión</a></li>
                        <li><a href="#" class="hover:text-white transition-colors">Ayuda y Soporte</a></li>
                        <li><a href="#" class="hover:text-white transition-colors">Blog para Partners</a></li>
                    </ul>
                </div>

                
                <div class="space-y-6">
                    <h4 class="text-xl font-bold">Newsletter</h4>
                    <p class="text-slate-100 font-medium">Suscríbete para recibir ofertas exclusivas y novedades.
                    </p>
                    <div class="relative">
                        <input type="email" placeholder="Tu email"
                            class="w-full bg-slate-900 border-none rounded-2xl py-4 pl-6 pr-12 text-white focus:ring-2 focus:ring-blue-500" />
                        <button
                            class="absolute right-2 top-1/2 -translate-y-1/2 bg-blue-600 p-2 rounded-xl hover:bg-blue-700 transition-all">
                            enviar</button>
                    </div>
                </div>
            </div>

            <div
                class="pt-12 border-t border-slate-800 flex flex-col md:flex-row justify-between items-center gap-6">
                <div class="text-slate-100 text-sm font-medium text-center md:text-left">
                    <p class="mt-1">©2025-2026 ETA, LLC. Todos los derechos reservados.</p>
                    <p class="mt-1">Descubre tu ruta Cartagena™ es una marca registrada de ETA, S.A.S.</p>
                </div>
                <div
                    class="flex flex-wrap justify-center gap-8 text-slate-100 text-sm font-bold uppercase tracking-tighter">
                    <a th:href="@{/terminos-condiciones}" class=" text-left     hover:text-white">Privacidad</a>
                    <a th:href="@{/terminos-condiciones}" class="hover:text-white">Términos</a>
                    <a th:href="@{/terminos-condiciones}" class="hover:text-white">Cookies</a>
                </div>
            </div>
        </div>
    </footer>
</body>