<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <section class="preguntas_frecuentes" th:fragment="preguntasFrecuentes">
        <div class="ctrl2">
            <h3 class="question">Preguntas <span>Frecuentes</span></h3>
        </div>

        <div class="container_preguntas">

            <div class="flex preguntas_card ">

                <div class="preguntas_card_text">
                    <h3>¿Cuáles son los mejores lugares para visitar en Cartagena?</h3>
                    <p>
                        Los mejores lugares para visitar en Cartagena son la Ciudad Amurallada, el Castillo de San
                        Felipe,
                        las Islas del Rosario y el Parque Nacional Natural Corales del Rosario y San Bernardo.
                    </p>
                </div>

                <button class="btn_preguntas_card">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 1024 1024">
                        <path fill="currentColor"
                            d="M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8l316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496" />
                    </svg>
                </button>

            </div>

            <div class="preguntas_card flex">

                <div class="preguntas_card_text">
                    <h3>¿Cuales son los diferentes tipos de Actividades?</h3>
                    <p>
                        Los mejores lugares para visitar en Cartagena son la Ciudad Amurallada, el Castillo de San
                        Felipe,
                        las Islas del Rosario y el Parque Nacional Natural Corales del Rosario y San Bernardo.
                    </p>
                </div>

                <button class="btn_preguntas_card">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 1024 1024">
                        <path fill="currentColor"
                            d="M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8l316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496" />
                    </svg>
                </button>

            </div>

            <div class="preguntas_card flex">

                <div class="preguntas_card_text">
                    <h3>¿Cuáles son los mejores lugares para visitar en Cartagena?</h3>
                    <p>
                        Los mejores lugares para visitar en Cartagena son la Ciudad Amurallada, el Castillo de San
                        Felipe,
                        las Islas del Rosario y el Parque Nacional Natural Corales del Rosario y San Bernardo.
                    </p>
                </div>

                <button class="btn_preguntas_card">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 1024 1024">
                        <path fill="currentColor"
                            d="M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8l316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496" />
                    </svg>
                </button>

            </div>


            <div class="preguntas_card flex border-y-1 ">

                <div class="preguntas_card_text">
                    <h3>¿Cuáles son los mejores lugares para visitar en Cartagena?</h3>
                    <p>
                        Los mejores lugares para visitar en Cartagena son la Ciudad Amurallada, el Castillo de San
                        Felipe,
                        las Islas del Rosario y el Parque Nacional Natural Corales del Rosario y San Bernardo.
                    </p>
                </div>

                <button class="btn_preguntas_card">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 1024 1024">
                        <path fill="currentColor"
                            d="M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8l316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496" />
                    </svg>
                </button>

            </div>

        </div>
    </section></body>