<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="icon" th:href="@{/images/logos/logo.webp}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/error.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="icon" th:href="@{/images/logos/isotipo.webp}" type="image/x-icon" />
</head>

<body>
    <div class="error-modal">
        <img th:src="@{/images/logos/etawhitervg.webp}" alt="">
        <h1>403</h1>
        <p>No tienes permisos para acceder a esta página.</p>
        <a th:href="@{/}">Volver al inicio</a>
    </div>
</body>

</html>