body {
    width: 100%;

}


.card-calificacion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    position: absolute;
    bottom: 12px;
    left: 12px;
    color: var(--color-white);
    background-color: #fef4cc;
    color: #F59E0B;
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
}



.count-cat {
    font-size: 12px;
    color: #bab8b8;
}



.circle-cat p {
    font-size: 10px;
    font-weight: 600;
    color: var(--color--black);
    text-decoration: none;
    transition: all 0.3s eabus-in-out;
}

.container-Categorias a:hover p {
    font-size: 11px;
}

.circle-cat img {
    width: 25px;
    height: 25px;

    object-fit: contain;
    aspect-ratio: 1/1;
}

.container-Categorias a:hover img {
    transform: scale(1.1);
    transition: all 0.3s eabus-in-out;
}




/*Social*/

.social {
    box-sizing: border-box;
    width: 100%;
    max-width: 1351px;
    height: fit-content;
    padding: 3rem 3rem 7rem 3rem;
    border-radius: 16px;
    margin: 0px auto;
    overflow-x: hidden;
    /* Asegura que no haya scroll horizontal */
}

.container_share {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.social .social-div .w-70 h2 {
    margin-bottom: 4px;
}



.h2_description {
    padding: 0px 10px;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: var(--font-poppins);
    margin-bottom: 1rem;
}

.contain-img-shares {
    position: relative;

}


.contain-img-shares img {
    width: 313px;
    height: 313px;
    border-radius: 8px;
    object-fit: cover;
    transition: bottom 0.4s ease;
}



.contain-img-shares:hover img {
    transform: translateY(-4px);
}

.contain-img-shares:hover .text-shares {
    bottom: 14px;
}


.text-shares {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    transition: transform 0.2s ease;
    color: white;
    bottom: 10px;
    left: 15px;
}

.w-70 {
    width: 80%;
}

.shareRedes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    gap: 30px;
}

.badges .badge {
    font-size: 12px;
}

.badges {
    gap: 10px;
}

.ColorBlue {
    color: var(--color-main);
}


.bg-Playa{
    background: #edb600;
}
.bg-Gastronomía{
    background: #33ed00;
}
.bg-cultura{
    background: #9014a3;
}
.bg-Historia{
    background: #a32e14;
}
.bg-Entretenimiento{
    background: #1416a3;
}
.bg-Vida{
    background: #000000;
}


/* =====================
PC / Laptop
   ===================== */
@media screen and (min-width: 1024px) {}



/* =====================
Tablet
===================== */
@media screen and (min-width: 768px) and (max-width: 1023px) {


    .shareRedes {
        flex-direction: column;
    }

    .esconderCell {
        display: none;
    }

    h1 {
        font-size: 50px;
        text-wrap: wrap;
        width: 100%;
    }

}


/* =====================
   Celular
   ===================== */
@media screen and (max-width: 767px) {


    .container_share {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 10px;
    }

    .Categorias {
        margin-top: 100px;
    }


    .shareRedes {
        flex-direction: column;
    }

    .social {
        padding: 3rem 1rem 7rem 1rem;
    }


}