<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" th:href="@{/css/global.css}">
   <link rel="stylesheet" th:href="@{/css/adminBd.css}">
   <link rel="stylesheet" th:href="@{/css/global.css}">
   <link rel="stylesheet" th:href="@{/css/colaborador/detallesColab.css}">
   <link rel="stylesheet" th:href="@{/css/componentes/tabla.css}">
   <link rel="stylesheet" th:href="@{/css/colaborador/navColab.css}">
   <link rel="stylesheet" th:href="@{/css/componentes/modales.css}">
   <link rel="icon" th:href="@{/images/logos/logo.webp}" type="image/x-icon" />


   <script src="https://cdn.tailwindcss.com"></script>
   <title>ETA | </title>

   <style>
      /* =====================
   PC / Laptop
   ===================== */
      @media screen and (min-width: 1024px) {}



      /* =====================
Tablet
===================== */
      @media screen and (min-width: 768px) and (max-width: 1023px) {}


      /* =====================
   Celular
   ===================== */
      @media screen and (max-width: 767px) {}
   </style>

</head>

<body>







   <p style="text-shadow: -3px -2px #00ffc3">hello, word</p>

   <script th:src="@{/js/eliminar/actividad.js}"></script>
   <script th:src="@{/js/dashboard.js}"></script>
   <script th:src="@{/js/dropdown.js}"></script>
</body>

</html>