/* ------- GENERAL RESET ------- */
html,
body {
    height: 100vh;
}

/* ------- NAVBAR / HEADER ------- */
.header {
    position: relative;
    z-index: 100;
    width: 100%;
    background-color: var(--color-main);
}

form {
    position: relative;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    /* Altura fija del navbar */
    padding: 0 40px;
    color: white;
    background-color: var(--color-main);
}

.nav-logo,
.nav-enlances,
.nav-salir {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-enlances {
    gap: 20px;
}

.nav-salir a {
    padding: 8px 16px;
    border-radius: 18px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-salir a:hover {
    background-color: var(--color-light-blue);
}

.brand img {
    width: 80px;
}

/* ------- CONTENEDOR PRINCIPAL ------- */
.container-100 {
    max-width: 1560px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}


/* ------- MENSAJE DE ERROR ------- */


input:invalid,
select:invalid,
textarea:invalid {
    box-shadow: none !important;
    border: 2px solid red;
    color: red;
}

form * {
    overflow: visible !important;
}

::-webkit-validation-bubble-message {
    display: none;
}